body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 100%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    padding: 60px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.inline-textbox {
    padding: 0 15px;
}

/* Variations */
.bs-callout-danger {
  background-color: #FCC1C0;
  border-color: #dFb5b4;
}
.bs-callout-success {
  background-color: #BEFEAA;
  border-color: #BFF1B9;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}