<div class="well">
  <h2>Take Quiz</h2>
  <form name="quiz" class="signin form-horizontal" role="form">
      <label for="q1" class="control-label">Which is not an advantage of using a closure?</label>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="a">Prevent pollution of global scope
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="b">Encapsulation
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="c">Private properties and methods
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="d">Allow conditional use of ‘strict mode’
        </label>
      </div>
  </form>
</div>
