<div class="well">
  <h2>Take Quiz</h2>
  <form name="quiz" class="signin form-horizontal" role="form">
      <label for="q1" class="control-label">Which is not an advantage of using a closure?</label>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="a">Prevent pollution of global scope
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="b">Encapsulation
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="c">Private properties and methods
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a1" value="d">Allow conditional use of ‘strict mode’
        </label>
      </div>

      <label for="q2" class="control-label">To create a columned list of two­line email subjects and dates for a master­detail view, which are the most semantically correct?</label>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="a">&lt;div&gt;+&lt;span&gt;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="b">&lt;tr&gt;+&lt;td&gt;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="c">&lt;ul&gt;+&lt;li&gt;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="d">&lt;p&gt;+&lt;br&gt;
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="e">none of these
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a2" value="f">all of these
        </label>
      </div>

      <label for="q3" class="control-label">To pass an array of strings to a function, you should not use...</label>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a3" value="a">fn.apply(this, stringsArray)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a3" value="b">fn.call(this, stringsArray)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="a3" value="c">fn.bind(this, stringsArray)
        </label>
      </div>
  </form>
</div>
