<div class="well">
  <h2>Take Quiz</h2>
  <form name="quiz" ng-submit="submitAnswers()" role="form">
    <div class="form-group">
      <label for="q1" class="control-label">1. Which is not an advantage of using a closure?</label>
      <answer ng-repeat="options in q1" options="options" answermodel="userAnswers.a1"></answer>
    </div>

    <label for="q2" class="control-label">2. To create a columned list of two­-line email subjects and dates for a master­-detail view, which are the most semantically correct?</label>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="a">&lt;div&gt;+&lt;span&gt;
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="b">&lt;tr&gt;+&lt;td&gt;
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="c">&lt;ul&gt;+&lt;li&gt;
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="d">&lt;p&gt;+&lt;br&gt;
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="e">none of these
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a2" value="f">all of these
      </label>
    </div>

    <label for="q3" class="control-label">3. To pass an array of strings to a function, you should not use...</label>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a3" value="a">fn.apply(this, stringsArray)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a3" value="b">fn.call(this, stringsArray)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a3" value="c">fn.bind(this, stringsArray)
      </label>
    </div>

    <div class="form-inline">
      <label for="q4" class="control-label">4. </label>
      <div class="form-group inline-textbox">
        <input type="text" class="form-control" ng-model="userAnswers.a4a">
      </div>
      <label for="q4" class="control-label">and </label>
      <div class="form-group inline-textbox">
        <input type="text" class="form-control" ng-model="userAnswers.a4b">
      </div>
      <label for="q4" class="control-label">would be the HTML tags you would use to display a menu item and its description.</label>
    </div>

    <label for="q5" class="control-label">5. Given &lt;div id=&#x201d;outer&#x201d;&gt;&lt;div class=&#x201d;inner&#x201d;&gt;&lt;/div&gt;&lt;/div&gt;, which of these two is the most performant way to select the inner div?</label>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a5" value="a">getElementById("outer").children[0]
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a5" value="b">getElementsByClassName("inner")[0]
      </label>
    </div>

    <label for="q6" class="control-label">6. Given this:</label>
    <pre>
angular.module(‘myModule’).service(‘myService’,function() {
  var message = “Message one!”
  var getMessage = function() {
    return this.message
  }
  this.message = “Message two!”
  this.getMessage = function() { return message }
  function() {
    {
      getMessage: getMessage,
      message: “Message three!”
    }
  }
}
    </pre>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a6" value="a">1
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a6" value="b">2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="userAnswers.a6" value="c">3
      </label>
    </div>

    <div class="form-actions" ng-hide="score > 0">
        <input class="btn btn-primary" type="submit" value="Submit Answers" />
    </div>

    <div class="alert" ng-class="{
      'alert-success': score >= 5,
      'alert-warning': score >=3 && score < 5,
      'alert-danger': score < 3}" ng-show="score > 0">
      <span ng-show="score >= 5">
        <strong>Congrats!</strong> You got {{ score }} out of 7!
      </span>
      <span ng-show="score >=3 && score < 5">
        <strong>Nice!</strong> You got {{ score }} out of 7!
      </span>
      <span ng-show="score < 3">
        <strong>Bummer.</strong> You only got {{ score }} out of 7. =\
      <span>
    </div>
  </form>
</div>
